@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">
    <p>
        Enter the Account Number
        <input type="text" name="account"  />
    </p>
   

    <input type="submit" value="Get Balance" />
</form>

<h2>@ViewBag.balanceMessage</h2>