@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />

<div class="reserve">Your money is safe with us !!</div>

<div style="line-height: 24px;padding: 25px;">

<h1>Your money will never be more secure...</h1>
<p>
    <h3>State of the art technology</h3>
    <img height="210px;"  style="float:right;padding-left: 20px;display:inline;" width="300px;" src="../../img/web_security.jpg">
    Our bank uses state of the art technology to keep your money safe.
    Be assured that our engineers apply all the latest mechanisms both on the server side
    as well as the client side , to make an attack on our application practically impossible.
    We have been in operation for the past 30 years and not one single case of a bad transaction or missing money
    has ever been logged by any of our customers. <br /><br /><br />
</p>

<p>
    <h3>Dedicated Infrastructure team</h3>
    <img height="210px;" style="float:right;padding-left: 20px;display:inline;" width="300px" src="../../img/server_room.jpg">
    Our data center is located in Lubbock, Texas. Our data center is powered by latest
    servers provided by IBM. Our dedicated infrastructure team monitors the health of the servers 24 X 7 and
    resolves issues as soon as they are reported. We also have a robust power back up system to fight
    power failure crisis.<br /><br /><br /><br />
</p>

<p>
    <h3>Vigilant production support team</h3>
    <img height="210px;" style="float:right;padding-left: 20px;display:inline;" width="300px" src="../../img/customer-support.jpg">
    We have a vigilant production support team of over 200 members which caters to the issues logged by our customers.
    Our automated ticket resolution system guarantees that any issue logged  by our customers will be addressed within 24 hours
    by any engineer of our production support team.  So far , we have a whooping throughput of 98%. <br /><br /><br /><br />
</p>

<p>
    <h3>Active Data Recovery (DR) site</h3>
    <img height="210px;" style="float:right;padding-left: 20px;display:inline;" width="300px" src="../../img/data_backup.jpg">
    We have an active data recovery site located in Austin ,Texas.
    Our automated systems automatically  back our data from the Production servres in every 30 minutes.
    So even if we face any natural calamity or an outage , our data will be safe and will be restored within no time.
    Hence you money is safe even if the bank buiding collapses.<br /><br /><br />
</p><br />
<hr style="border-top:1px solid #bbb;display:block;" /><br />

<h1>What our customers are saying...</h1>

<p>
    "The service that this bank provides  always Vows me. Be it excellent online
    facilities or cash pick and drop facility straight to my office.This bank
    does it all for our account at now extra cost.Perhaps thats what makes this bank
    America's favourite bank."
    <br />
    &#126;
    <strong>Donald Platameyer, Pepsi U.S.A.</strong>
</p>

<p>
    "With great infrastructure and great technology, this bank truly evangelizes modernization.
    The staff is uber friendly and always greets me with a smile and my work is always done within no time.
    Also the rate at which this bank is growing is phenomenal and I an sure that companies like
    us who invest in this bank will never regret our decision."
    <br />
    &#126;
    <strong>Marcus Normandy, RSA Insurance - U.S.A</strong>
</p>


    </div>




